<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">

	<!-- 告诉Tomcat来管理我的Servlet -->
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.sayschj.hello.HelloServlet</servlet-class>
	</servlet>
	<!-- Servlet的映射 -->
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<!-- 定义Servlet的资源名称 -->
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
</web-app>
